<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Email</th>
  </tr>
  <% @imports.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.company %></td>
    <td><%= product.email %></td>
  </tr>
  <% end %>
</table>
